/node_modules
.DS_Store
.vscode
.idea
.env
.env.local
/xsl/jats-to-html.sef.json
final-document.pdf
/*.html
/xsl/*.html
/paged-js/*.html
__tests__/test-cases/*.actual.html
__tests__/test-cases/*.actual.pdf.html