@import url("./modules/fonts.css");
@import url("./modules/variables.css");
@import url("./modules/pagemodels.css");
@import url("./modules/basetext.css");
@import url("./modules/header.css");
@import url(./modules/authors-and-institutions.css);
@import url(./modules/article-content.css);
@import url(./modules/figures.css);
@import url(./modules/assesment.css);
@import url(./modules/references.css);
@import url(./modules/timeline.css);
@import url(./modules/tables.css);

body {
    --font-family-primary: '__Noto_Sans_d69442', '__Noto_Sans_Fallback_d69442', arial, helvetica, sans-serif;
    --font-family-secondary: '__Noto_Serif_288e51', '__Noto_Serif_Fallback_288e51', serif;
}

.fix-phi {
    font-family: 'NotoSerifForce';
    font-variant-ligatures: none;
    text-transform: uppercase;
    font-style: italic;
}

span.sequence {
    word-break: break-all;
}

.figure:not(.tofill) {
    max-width: 100%;
}

.figure:not(.tofill) img .imageonly {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

figure+figure {
    margin-top: 34px;
}

.img-in-link {
    float: left;
    margin-left: calc(var(--offset) * -1);
}

.pagedjs_pages {
    --pagedjs-baseline-color: transparent !important;
}

.nottofill {
    margin: 1em 0;
}

.nottofill img {
    display: block;
    margin: 0.8em auto;
}

p {
    widows: 2;
    orphans: 2;
}

.tofill, figure {
    position: fill-page;
}

.figure[data-split-from] {
    border-top: 0 !important;
}

.review-content .descriptors__identifiers {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    font-family: var(--font-sans);
    margin-bottom: 2em;
    break-inside: avoid;
    break-before: avoid;
}

.descriptors__identifiers {
    list-style-type: none;
    padding: 0;
    font-family: var(--font-sans);
    margin-bottom: 0;
}

.pagebreak {
    break-before: page;
}

:root {
    --color-primary: #087acc;
    --color-primary-dark: #0769b0;
    --color-text: #212121;
    --color-text-secondary: #757575;
    --color-button: #edeff4;
    --color-background: #f7f7f7;
    --divider: #e0e0e0;
    --link-decoration: #212121;
    --link-decoration-secondary: #6d6d6d;
    --border: 1px solid var(--divider);
    --font-family-primary: noto sans, arial, helvetica, sans-serif;
    --font-family-secondary: noto serif, serif;
    --grid-gutter: 24px;
    --site-spacing: 24px;
    --site-spacing-large: 48px;
    --base-font-size: 16
}

:after,
:before {
    box-sizing: border-box
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    width: 1px
}