@import url("./modules/fonts.css");
@import url("./modules/variables.css");
@import url("./modules/pagemodels.css");
@import url("./modules/basetext.css");
@import url("./modules/header.css");
@import url(./modules/authors-and-institutions.css);
@import url(./modules/article-content.css);
@import url(./modules/weirdthings.css);
@import url(./modules/figures2.css);
@import url(./modules/assesment.css);
@import url(./modules/references.css);
@import url(./modules/authors-editors.css);
@import url(./modules/timeline.css);

body {
    --font-family-primary: '__Noto_Sans_d69442', '__Noto_Sans_Fallback_d69442', arial, helvetica, sans-serif;
    --font-family-secondary: '__Noto_Serif_288e51', '__Noto_Serif_Fallback_288e51', serif;
}

.disp-formula {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 10rem;
}

.fix-phi {
    font-family: 'NotoSerifForce';
    font-variant-ligatures: none;
    text-transform: uppercase;
    font-style: italic;
}

.onlynumbers {
    display: none;
}

.figure:not(.tofill) {
    max-width: 100%;
}

.figure:not(.tofill) img .imageonly {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

figure+figure {
    margin-top: 34px;
}

/* // tring to fix some title on the top of the page problem  */

[data-split-from] :is(h2, h3):first-child {
    /* margin-top: 0; */
}

.img-in-link {
    float: left;
    margin-left: calc(var(--offset) * -1);
}

.pagedjs_pages {
    --pagedjs-baseline-color: transparent !important;
}

/*fixing a weid title issue*/

#abstract .widowfix {
    display: none;
}

#abstract .widowfix+h1 {
    margin-top: 0;
}

/* //fixing weird list issue when the list is made of an image (dang, why do we do that?)*/
ol {
    /* break-before:unset; */
    display: block;
    /* margin-top: 2em; */
}

ol>li {
    break-inside: avoid;
}

.insideurl a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
    border-bottom: 0;
}

.insideurl a::after {
    /* content: " p. " target-counter(attr(href), page); */
}

.insideurl .hidden {
    display: inline;
}

.movedfig img {
    display: block;
}

.nottofill {
    margin: 1em 0;
}

.nottofill img {
    display: block;
    margin: 0.8em auto;
}

:is(.prettified-link, .prettified-symbol) {
    display: none;
}

p {
    widows: 2;
    orphans: 2;
}

.tofill,
.surelySupp figure {
    position: fill-page;
}

.figure[data-split-from] {
    border-top: 0 !important;
}

.fig-group {
    break-inside: avoid;
}

.descriptors__icon--cc a {
    border-bottom: 0;
    color: inherit;
}

.descriptors__icon--cc a .infourl {
    display: none;
}

.descriptors__icon--cc a .hidden {
    display: inline;
}

/*
  DONT FORGET   --not-to-fill: ok;
*/

/*doi  identifier in response*/

#reviews .descriptors__identifiers {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    font-family: var(--font-sans);
    margin-bottom: 3em;
}

#references-wrapper {
    /* break-before: page; */
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    page-break-inside: avoid;
}

.descriptors__identifiers {
    list-style-type: none;
    padding: 0;
    font-family: var(--font-sans);
    margin-bottom: 0;
}

.pagebreak {
    break-before: page;
}

#authors ul {
    list-style-type: none;
    padding-left: 0;
}

:root {
    --color-primary: #087acc;
    --color-primary-dark: #0769b0;
    --color-text: #212121;
    --color-text-secondary: #757575;
    --color-button: #edeff4;
    --color-background: #f7f7f7;
    --divider: #e0e0e0;
    --link-decoration: #212121;
    --link-decoration-secondary: #6d6d6d;
    --border: 1px solid var(--divider);
    --font-family-primary: noto sans, arial, helvetica, sans-serif;
    --font-family-secondary: noto serif, serif;
    --grid-gutter: 24px;
    --site-spacing: 24px;
    --site-spacing-large: 48px;
    --base-font-size: 16
}

:after,
:before {
    box-sizing: border-box
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    width: 1px
}