@import url("./modules/fonts.css");
@import url("./modules/variables.css");
@import url("./modules/pagemodels.css");
@import url("./modules/basetext.css");
@import url("./modules/header.css");
@import url("./modules/list.css");
@import url(./modules/authors-and-institutions.css);
@import url(./modules/article-content.css);
@import url(./modules/bibliography.css);
@import url(./modules/weirdthings.css);
@import url(./modules/figures2.css);
@import url(./modules/assesment.css);
@import url(./modules/references.css);
@import url(./modules/authors-editors.css);
@import url(./modules/timeline.css);

body {
    --font-family-primary: '__Noto_Sans_d69442', '__Noto_Sans_Fallback_d69442', arial, helvetica, sans-serif;
    --font-family-secondary: '__Noto_Serif_288e51', '__Noto_Serif_Fallback_288e51', serif;
}

.disp-formula {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 10rem;
}

.fix-phi {
    font-family: 'NotoSerifForce';
    font-variant-ligatures: none;
    text-transform: uppercase;
    font-style: italic;
}


.onlynumbers {
    display: none;
}

.figure:not(.tofill) {
    max-width: 100%;
}

.figure:not(.tofill) img .imageonly {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

figure+figure {
    margin-top: 34px;
}

/* // to fix some automatic placement */
/*  figure { */
/*   position: fill-page ; */
/* } */

/* // tring to fix some title on the top of the page problem  */

[data-split-from] :is(h2, h3):first-child {
    /* margin-top: 0; */
}

.img-in-link {
    float: left;
    margin-left: calc(var(--offset) * -1);
}

.pagedjs_pages {
    --pagedjs-baseline-color: transparent !important;
}

/*fixing a weid title issue*/

#abstract .widowfix {
    display: none;
}

#abstract .widowfix+h1 {
    margin-top: 0;
}

/* //fixing weird list issue when the list is made of an image (dang, why do we do that?)*/

ol {
    /* break-before:unset; */
    display: block;
    margin-top: 2em;
}

ol>li {
    break-inside: avoid;
}

.insideurl a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
    border-bottom: 0;
}

.insideurl a::after {
    /* content: " p. " target-counter(attr(href), page); */
}

.insideurl .hidden {
    display: inline;
}

.movedfig img {
    display: block;
}

.nottofill {
    margin: 1em 0;
}

.nottofill img {
    display: block;
    margin: 0.8em auto;
}

:is(.prettified-link, .prettified-symbol) {
    display: none;
}

/* .surelySupp { */
/* page: supp; */
/* margin-left: calc(var(--offset) * -1); */
/* } */

/* @page supp { */
/*   background: white; */
/*   margin: 20mm; */
/* } */

/* .surelySupp .figure { */
/* break-after: page; */
/* color: red; */
/* } */

/* .surelySupp img { */
/*   max-height: 700px; */
/*   display: block; */
/* } */

p {
    widows: 2;
    orphans: 2;
}

.tofill,
.surelySupp figure {
    position: fill-page;
}

/* .surelySupp .figure { */
/*   max-width: 80%; */
/*   break-inside: avoid; */
/*   margin: auto; */
/*   margin-bottom: 2em; */
/* } */
/**/
/* .surelySupp :is(h1, h2) { */
/*   margin-bottom: 2em; */
/*   margin-left: var(--offset); */
/* } */
/**/
/* .surelySupp .figure + .figure { */
/*   margin-top: 1em; */
/*   border-top: 5px solid var(--color-main); */
/*   padding-top: 1em; */
/* } */

.figure[data-split-from] {
    border-top: 0 !important;
}

/* .tofill { */
/*   position: fill-page; */
/* } */

/* .surelySupp .figure { */
/*   max-width: 80%; */
/*   break-inside: avoid; */
/*   margin: auto; */
/*   margin-bottom: 2em; */
/* } */
/**/
/* .surelySupp :is(h1, h2) { */
/*   margin-bottom: 2em; */
/*   margin-left: var(--offset); */
/* } */
/**/
/* .surelySupp .figure + .figure { */
/*   margin-top: 1em; */
/*   border-top: 5px solid var(--color-main); */
/*   padding-top: 1em; */
/* } */
/**/
/* .figure[data-split-from] { */
/*   border-top: 0 !important; */
/* } */

.descriptors__icon--cc a {
    border-bottom: 0;
    color: inherit;
}

.descriptors__icon--cc a .infourl {
    display: none;
}

.descriptors__icon--cc a .hidden {
    display: inline;
}

/*
  DONT FORGET   --not-to-fill: ok;
*/

/*doi  identifier in response*/

#reviews .descriptors__identifiers {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    font-family: var(--font-sans);
    margin-bottom: 3em;
}

#references-wrapper {
    /* break-before: page; */
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    page-break-inside: avoid;
}

#references-title {
    break-before: page;
}


li .probablyHeading {
    break-after: unset;
    /* display: none; */
}

.descriptors__identifiers {
    list-style-type: none;
    padding: 0;
    font-family: var(--font-sans);
    margin-bottom: 0;
}

.previous-version-warning {
    &::before {
        background-image: url(https://elifesciences.org/reviewed-preprints/_next/static/media/previous-warning.b60030b4.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 0;
        background-color: var(--color-sub-light);
        content: " ";
        width: 16px;
        margin-right: 1ch;
        line-height: 1.5;
        position: relative;
        top: 3px;
        height: 16px;
        line-height: 1.2;
        vertical-align: baseline;
        display: inline-block;
    }

    padding-left: 3ch;
    background-color: var(--color-sub-light);
    margin-bottom: 2em;
    /* margin-left:9px; */
    position: relative;
    padding: 0.5em 2ch;
    /* max-width: 80%; */

    /* display: block; */
    & a {
        margin-left: 0.8ch;
        font-weight: bold;
    }
}

.pagebreak {
    break-before: page;
}

.terms-container {
    display: none;
}

.assessment__fixed_text {
    display: none;
}

#authors ul {
    list-style-type: none;
    padding-left: 0;
}

.site-header {
    margin-top: calc(36/var(--base-font-size)*1rem);
    margin-bottom: calc(36/var(--base-font-size)*1rem)
}

@media only all and (min-width:768px) {
    .site-header {
        margin-top: calc(48/var(--base-font-size)*1rem)
    }
}

@media only all and (min-width:1200px) {
    .site-header {
        margin-bottom: calc(54/var(--base-font-size)*1rem)
    }
}

.site-header-container {
    align-items: center;
    display: flex;
    justify-content: space-between
}

@media only all and (min-width:1000px) {
    .site-header-container {
        justify-content: unset
    }
}

.site-header__title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    width: 1px
}

.site-header__logo_link {
    line-height: 0
}

@media only all and (min-width:1000px) {
    .nav-primary {
        margin-left: calc(20/var(--base-font-size)*1rem);
        border-left: var(--border);
        display: inline-block;
        height: 24px
    }
}

.nav-primary__list {
    padding-left: calc(0/var(--base-font-size)*1rem);
    padding-top: calc(0/var(--base-font-size)*1rem);
    align-items: top;
    display: flex;
    justify-content: top;
    margin: 0
}

.nav-primary__item {
    font-size: calc(14/var(--base-font-size)*1rem);
    line-height: 1.7142857143;
    padding-left: calc(24/var(--base-font-size)*1rem);
    color: var(--link-decoration);
    display: none;
    font-family: var(--font-family-primary);
    font-weight: 700;
    list-style-type: none
}

.nav-primary__item a {
    color: var(--link-decoration);
    text-decoration: none
}

.nav-primary__item a:hover {
    color: var(--color-primary)
}

.nav-primary__item.nav-primary__item--inactive a {
    pointer-events: none
}

@media only all and (min-width:1000px) {
    .nav-primary__item {
        display: list-item
    }
}

.nav-primary__item--first {
    padding-left: calc(0/var(--base-font-size)*1rem);
    display: list-item
}

.nav-primary__item--first a {
    padding-right: calc(48/var(--base-font-size)*1rem);
    background: url(https://elifesciences.org/reviewed-preprints/_next/static/media/nav-primary-menu-ic.8cf9e8b8.svg) no-repeat right 0;
    background-size: 24px;
    display: block;
    width: 24px
}

.nav-primary__item--first a:hover {
    background-image: url(https://elifesciences.org/reviewed-preprints/_next/static/media/nav-primary-menu-blue-ic.f69455fc.svg);
    color: var(--color-primary)
}

@media only all and (min-width:1000px) {
    .nav-primary__item--first {
        text-indent: -9999px
    }

    .nav-primary__item--first a {
        padding-right: calc(24/var(--base-font-size)*1rem)
    }
}

.nav-secondary {
    margin-top: calc(10/var(--base-font-size)*1rem);
    display: none
}

@media only all and (min-width:1000px) {
    .nav-secondary {
        margin-top: calc(0/var(--base-font-size)*1rem);
        display: block;
        margin-left: auto
    }
}

.nav-secondary__list {
    display: flex;
    float: right;
    margin: 0;
    padding: 0
}

.nav-secondary__item {
    font-size: calc(14/var(--base-font-size)*1rem);
    line-height: 1.7142857143;
    margin-top: calc(2/var(--base-font-size)*1rem);
    padding-left: calc(24/var(--base-font-size)*1rem);
    color: var(--link-decoration);
    font-family: var(--font-family-primary);
    font-weight: 700;
    list-style-type: none
}

.nav-secondary__item--search {
    padding-right: calc(30/var(--base-font-size)*1rem);
    background: url(https://elifesciences.org/reviewed-preprints/_next/static/media/search.103c8dc0.svg) no-repeat right 0;
    background-size: 21px
}

.nav-secondary__item--search a {
    color: var(--link-decoration);
    text-decoration: none
}

.nav-secondary__item--search a:hover {
    color: var(--color-primary)
}

.nav-secondary__item--alert {
    padding-right: calc(30/var(--base-font-size)*1rem);
    background: url(https://elifesciences.org/reviewed-preprints/_next/static/media/alerts.94767051.svg) no-repeat right 0;
    background-size: 21px
}

.nav-secondary__item--alert a {
    color: var(--link-decoration);
    display: block;
    text-decoration: none
}

.nav-secondary__item--alert a:hover {
    color: var(--color-primary)
}

.block-button {
    font-size: calc(11/var(--base-font-size)*1rem);
    line-height: 2;
    border-radius: 3px;
    color: var(--color-text);
    font-weight: 400;
    height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap
}

.block-button.block-button__variant-one {
    margin-top: calc(1/var(--base-font-size)*1rem);
    padding: calc(5/var(--base-font-size)*1rem) calc(9/var(--base-font-size)*1rem) calc(3/var(--base-font-size)*1rem) calc(9/var(--base-font-size)*1rem);
    background-color: var(--color-primary);
    color: #fff
}

.main-menu__section {
    padding-bottom: calc(15/var(--base-font-size)*1rem)
}

.main-menu__title {
    padding-bottom: calc(18/var(--base-font-size)*1rem);
    padding-left: calc(0/var(--base-font-size)*1rem);
    margin-top: calc(30/var(--base-font-size)*1rem);
    align-items: center;
    display: flex;
    justify-content: space-between
}

@media only screen and (min-width:1200px) {
    .main-menu__title {
        margin-top: calc(48/var(--base-font-size)*1rem)
    }
}

.main-menu__list {
    padding-left: calc(0/var(--base-font-size)*1rem)
}

.main-menu__list_item {
    font-size: calc(16/var(--base-font-size)*1rem);
    line-height: 3;
    padding-bottom: calc(24/var(--base-font-size)*1rem);
    display: block;
    font-family: var(--font-family-primary);
    line-height: 0;
    text-align: left
}

@media only screen and (min-width:1000px) {
    .main-menu__list_item.hidden-wide {
        display: none
    }
}

.main-menu__list_item.end-of-group {
    margin-bottom: calc(24/var(--base-font-size)*1rem);
    border-bottom: var(--border)
}

.main-menu__list_item:last-child {
    padding-bottom: calc(48/var(--base-font-size)*1rem)
}

.main-menu__list_link {
    font-size: calc(14/var(--base-font-size)*1rem);
    line-height: 1.7142857143;
    color: var(--color-text);
    font-weight: 700;
    text-decoration: none
}

.main-menu__list_link:hover {
    color: var(--color-primary)
}

.main-menu__close_control {
    font-size: calc(14/var(--base-font-size)*1rem);
    line-height: 1.7142857143;
    background: url(https://elifesciences.org/reviewed-preprints/_next/static/media/close.b8f8aff4.svg) no-repeat 49px 5px;
    background-size: 14px;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    font-family: var(--font-family-primary);
    font-weight: 700;
    padding: 0;
    text-align: left;
    width: 68px
}

.main-menu__close_control:hover {
    background-image: url(https://elifesciences.org/reviewed-preprints/_next/static/media/close-blue.e90fd568.svg);
    color: var(--color-primary)
}

.main-menu__container:hover {
    color: var(--color-primary)
}

.main-menu__container .site-header__title {
    margin-bottom: calc(30/var(--base-font-size)*1rem);
    float: none
}

.main-menu--js {
    display: none
}

.main-menu--js .main-menu__container {
    display: block
}

.main-menu--js.main-menu--shown {
    z-index: 40;
    background-color: #fff;
    box-sizing: border-box;
    color: var(--color-text);
    display: block;
    float: left;
    height: 100vh;
    left: -3000px;
    max-width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    transform: translate3d(3000px, 0, 0);
    width: 100%
}

@media only screen and (min-width:1000px) {
    .main-menu--js.main-menu--shown {
        width: 320px
    }
}

.main-menu--js .main_menu__quit {
    display: none
}

.overlay {
    z-index: 30;
    background-color: #000c;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw
}

.to-top-link {
    display: none
}

.wrapper {
    box-sizing: initial;
    margin: auto;
    max-width: calc(1200px/var(--base-font-size)*1rem);
    padding-left: var(--site-spacing);
    padding-right: var(--site-spacing)
}

@media only screen and (min-width:480px) {
    .wrapper {
        padding-left: var(--site-spacing-large);
        padding-right: var(--site-spacing-large)
    }
}

.site-header__skip_to_content {
    display: block;
    left: 20px;
    position: absolute;
    top: 20px;
    white-space: nowrap
}

.site-header__skip_to_content__link {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    width: 1px;
    padding: calc(15/var(--base-font-size)*1rem) calc(36/var(--base-font-size)*1rem) calc(14/var(--base-font-size)*1rem);
    z-index: 50
}

.site-header__skip_to_content__link:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: auto;
    position: static;
    width: auto;
    position: absolute
}

.site-footer {
    border-top: 1px solid var(--divider);
    padding-top: calc(48/var(--base-font-size)*1rem);
    padding-bottom: calc(16/var(--base-font-size)*1rem)
}

.footer-navigation {
    padding-bottom: calc(48/var(--base-font-size)*1rem)
}

.footer-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center
}

.footer-navigation__list_item {
    font-size: calc(11/var(--base-font-size)*1rem);
    line-height: 2.1818181818;
    color: var(--color-text);
    font-family: var(--font-family-primary);
    letter-spacing: .5px;
    text-transform: uppercase
}

.footer-navigation__list_link {
    color: var(--color-text);
    text-decoration: none
}

.footer-navigation__list_link:hover {
    color: var(--color-primary)
}

.site-smallprint__copyright_link {
    color: var(--color-text);
    text-decoration: none
}

.site-smallprint__copyright_link:hover {
    color: var(--color-primary)
}

@media only all and (min-width:768px) {
    .footer-navigation__list {
        column-count: 2;
        column-gap: .5rem;
        text-align: left
    }

    .footer-navigation__list_item {
        break-inside: avoid-column
    }
}

.site-smallprint {
    font-family: var(--font-family-secondary);
    padding: 0 6%;
    text-align: center
}

.site-smallprint,
.site-smallprint small {
    font-size: calc(11/var(--base-font-size)*1rem);
    line-height: 2.1818181818
}

.site-smallprint small {
    display: block
}

.carbon-neutral-wrapper {
    text-align: center
}

.carbon-neutral-wrapper .carbon-neutral-link {
    margin: calc(0/var(--base-font-size)*1rem) calc(0/var(--base-font-size)*1rem) calc(47/var(--base-font-size)*1rem);
    align-items: center;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 247px
}

@media only all and (min-width:768px) {
    .carbon-neutral-wrapper {
        text-align: left
    }

    .site-footer__container {
        padding: calc(0/var(--base-font-size)*1rem) calc(6%/var(--base-font-size)*1rem);
        display: table;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        max-width: 1200px
    }

    .site-footer__container .grid-cell:first-child {
        padding-bottom: calc(12/var(--base-font-size)*1rem);
        flex: 1 1 50%;
        float: left;
        width: 50%
    }

    .site-footer__container .grid-cell:nth-child(2) {
        padding-bottom: calc(12/var(--base-font-size)*1rem);
        flex: 1 1 50%;
        float: right;
        width: 50%
    }

    .site-footer__container .grid-cell:nth-child(3) {
        clear: both;
        flex: 1 1 100%;
        width: 100%
    }

    .site-smallprint {
        padding: 0;
        text-align: left
    }

    .site-smallprint__copyright {
        text-align: center
    }

    .small {
        padding-bottom: calc(24/var(--base-font-size)*1rem)
    }

    .address {
        padding-bottom: calc(84/var(--base-font-size)*1rem);
        font-style: normal
    }

    .site-footer__container {
        padding: 0 6%
    }

    .footer-navigation {
        padding-bottom: calc(72/var(--base-font-size)*1rem)
    }
}

.social-links {
    padding: calc(0/var(--base-font-size)*1rem) calc(0/var(--base-font-size)*1rem) calc(19/var(--base-font-size)*1rem) calc(0/var(--base-font-size)*1rem);
    text-align: center
}

.social-links__list {
    margin: 0;
    padding: 1px 0 0
}

.social-links__list_item {
    padding: calc(0/var(--base-font-size)*1rem) calc(5/var(--base-font-size)*1rem);
    display: inline-block;
    margin: 0
}

.social-links__list_link svg path {
    fill: var(--color-text)
}

.social-links__list_link:hover svg path {
    fill: var(--color-primary)
}

.github-link-wrapper {
    text-align: center
}

.github-link-wrapper .github-link {
    margin: calc(0/var(--base-font-size)*1rem) calc(0/var(--base-font-size)*1rem) calc(60/var(--base-font-size)*1rem);
    align-items: center;
    color: var(--color-text);
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto
}

.github-link-wrapper .github-link svg path {
    fill: var(--color-text)
}

.github-link-wrapper .github-link:hover svg path {
    fill: var(--color-primary)
}

.github-link-wrapper .github-link:hover {
    color: var(--color-primary)
}

.github-link-wrapper .github-link .github-link--text {
    font-size: calc(11/var(--base-font-size)*1rem);
    line-height: 2.1818181818;
    margin: calc(2/var(--base-font-size)*1rem) calc(0/var(--base-font-size)*1rem) calc(0/var(--base-font-size)*1rem) calc(7/var(--base-font-size)*1rem);
    color: var(--color-text);
    font-family: var(--font-family-primary);
    letter-spacing: .5px;
    text-transform: uppercase
}

@media only all and (min-width:768px) {
    .social-links {
        text-align: left
    }

    .github-link-wrapper {
        text-align: initial
    }

    .github-link-wrapper .github-link {
        margin: calc(0/var(--base-font-size)*1rem) calc(0/var(--base-font-size)*1rem) calc(72/var(--base-font-size)*1rem);
        justify-content: start
    }

    .social-links__list_item {
        padding: 0;
        padding-right: calc(24/var(--base-font-size)*1rem)
    }
}

.investor-logos {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.investor-logos__item {
    padding: calc(24/var(--base-font-size)*1rem);
    border-top: 1px solid var(--divider)
}

.investor-logos__container {
    max-width: calc(185/var(--base-font-size)*1rem);
    height: calc(72/var(--base-font-size)*1rem);
    margin: auto;
    text-align: center
}

@supports(display:flex) {
    .investor-logos__container {
        align-items: center;
        display: flex;
        justify-content: center
    }
}

.investor-logos__img {
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%
}

@media only all and (min-width:480px) {
    .investor-logos {
        border-top: 1px solid var(--divider);
        display: table;
        table-layout: fixed;
        width: 100%
    }

    .investor-logos__item {
        border: 0;
        border-right: 1px solid var(--divider);
        display: table-cell;
        vertical-align: top
    }

    .investor-logos__item:last-child {
        border-right: 0
    }
}

.email-cta {
    padding-top: calc(48/var(--base-font-size)*1rem);
    padding-bottom: calc(72/var(--base-font-size)*1rem);
    border-top: 1px solid var(--divider);
    text-align: center
}

.email-cta__container {
    box-sizing: initial;
    margin: 0 auto;
    max-width: 27.5rem;
    padding: 0 6%
}

.email-cta__header_text {
    padding-top: calc(24/var(--base-font-size)*1rem);
    padding-bottom: calc(24/var(--base-font-size)*1rem);
    font-size: calc(20/var(--base-font-size)*1rem);
    line-height: 1.2;
    color: var(--color-text);
    font-family: var(--font-family-primary);
    margin: 0
}

.email-cta__privacy {
    display: block;
    font-size: calc(12/var(--base-font-size)*1rem);
    line-height: 2;
    margin-bottom: calc(4/var(--base-font-size)*1rem);
    margin-top: calc(12/var(--base-font-size)*1rem)
}

.email-cta__privacy_link {
    color: var(--color-text-secondary);
    font-family: var(--font-family-primary);
    text-decoration: none
}

.email-cta__privacy_link:hover {
    color: var(--color-primary);
    text-decoration: underline
}

.button {
    padding: calc(8/var(--base-font-size)*1rem) calc(18/var(--base-font-size)*1rem);
    font-size: calc(14/var(--base-font-size)*1rem);
    line-height: 1.7142857143;
    color: var(--color-text);
    font-family: var(--font-family-primary);
    background-color: var(--color-primary);
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .2px;
    text-decoration: none
}

.button:hover {
    background-color: var(--color-primary-dark)
}

.button--action {
    background-color: var(--color-button);
    color: var(--color-text);
    font-weight: 600;
    text-transform: none
}

.button--action:hover {
    background-color: #d7d9de
}

.button--cite-download,
.button--clipboard {
    padding: calc(12/var(--base-font-size)*1rem) calc(18/var(--base-font-size)*1rem) calc(14/var(--base-font-size)*1rem) calc(18/var(--base-font-size)*1rem);
    border: none;
    margin: 0 auto;
    max-height: 48px;
    width: 100%
}

.button--cite-download {
    background-color: var(--color-button);
    color: var(--color-text)
}

.button--cite-download:hover {
    background-color: #d7d9de
}

.button--icon-download {
    padding-left: calc(41/var(--base-font-size)*1rem);
    background: url(https://elifesciences.org/reviewed-preprints/_next/static/media/download.dc5558b7.svg) var(--color-button) no-repeat 11px 15px;
    vertical-align: middle
}

.button--icon-download.button--action {
    padding-right: calc(20/var(--base-font-size)*1rem);
    background-position-y: 8px
}

.button--icon-share {
    padding-left: calc(41/var(--base-font-size)*1rem);
    background: url(https://elifesciences.org/reviewed-preprints/_next/static/media/share.96abf7c5.svg) var(--color-button) no-repeat 11px 15px;
    vertical-align: middle
}

.button--icon-share.button--action {
    padding-right: calc(20/var(--base-font-size)*1rem);
    background-position-y: 8px
}

.button--icon-citation {
    padding-left: calc(41/var(--base-font-size)*1rem);
    background: url(https://elifesciences.org/reviewed-preprints/_next/static/media/cite.8510d9bd.svg) var(--color-button) no-repeat 11px 15px;
    vertical-align: middle
}

.button--icon-citation.button--action {
    padding-right: calc(20/var(--base-font-size)*1rem);
    background-position-y: 8px
}

.button--icon-follow {
    padding-left: calc(41/var(--base-font-size)*1rem);
    background: url(https://elifesciences.org/reviewed-preprints/_next/static/media/follow.dddfa855.svg) var(--color-button) no-repeat 11px 15px;
    vertical-align: middle
}

.button--icon-follow.button--action {
    padding-right: calc(20/var(--base-font-size)*1rem);
    background-position-y: 8px
}

.article-page {
    padding-left: var(--site-spacing);
    padding-right: var(--site-spacing);
    padding-bottom: calc(96/var(--base-font-size)*1rem);
    margin: 0 auto
}

@media only screen and (min-width:480px) {
    .article-page {
        padding-left: calc(var(--site-spacing)*2);
        padding-right: calc(var(--site-spacing)*2)
    }
}

:root {
    --color-primary: #087acc;
    --color-primary-dark: #0769b0;
    --color-text: #212121;
    --color-text-secondary: #757575;
    --color-button: #edeff4;
    --color-background: #f7f7f7;
    --divider: #e0e0e0;
    --link-decoration: #212121;
    --link-decoration-secondary: #6d6d6d;
    --border: 1px solid var(--divider);
    --font-family-primary: noto sans, arial, helvetica, sans-serif;
    --font-family-secondary: noto serif, serif;
    --grid-gutter: 24px;
    --site-spacing: 24px;
    --site-spacing-large: 48px;
    --base-font-size: 16
}

:after,
:before {
    box-sizing: border-box
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    width: 1px
}

.grid-container {
    max-width: 1200px
}

@media only all and (min-width:480px) {
    @supports(display:grid) {
        .grid-container {
            display: grid;
            grid-column-gap: var(--grid-gutter);
            grid-template-columns: repeat(12, 1fr)
        }
    }
}

@media only all and (min-width:480px) {
    .grid-header {
        grid-column: 1/13;
        grid-row: 1
    }

    .primary-section-header {
        grid-column: 1/13;
        grid-row: 2
    }
}

@media only all and (min-width:768px) {
    .primary-section-header {
        grid-column: 2/12
    }
}

@media only all and (min-width:1000px) {
    .primary-section-header {
        grid-column: 1/9
    }
}

@media only all and (min-width:1200px) {
    .primary-section-header {
        padding-right: calc(36/var(--base-font-size)*1rem);
        grid-column: 1/10
    }
}

@media only all and (min-width:480px) {
    .primary-section {
        grid-column: 1/13;
        grid-row: 4
    }
}

@media only all and (min-width:768px) {
    .primary-section {
        grid-column: 2/12
    }
}

@media only all and (min-width:1000px) {
    .primary-section {
        grid-column: 1/9;
        grid-row: 3
    }
}

@media only all and (min-width:1200px) {
    .primary-section {
        padding-right: calc(36/var(--base-font-size)*1rem);
        grid-column: 1/10
    }
}

@media only all and (min-width:480px) {
    .side-section {
        grid-column: 1/13;
        grid-row: 3
    }
}

@media only all and (min-width:768px) {
    .side-section {
        align-items: start;
        display: flex;
        flex-direction: row;
        grid-column: 2/12
    }
}

@media only all and (min-width:1000px) {
    .side-section {
        z-index: 30;
        align-items: end;
        align-self: flex-start;
        flex-direction: column;
        grid-column: 9/13;
        grid-row: 2/4;
        justify-content: space-between;
        margin-top: 62px;
        position: -webkit-sticky;
        position: sticky;
        top: 125px
    }
}

@media only all and (min-width:1200px) {
    .side-section {
        z-index: 30;
        grid-column: 10/13
    }
}