body {
  font-family: var(--font-serif);
  font-size: 12px;
  line-height: 17px;
}

#article-content :is(p, li) {
  --pagedjs-baseline-snap: 17px;
  line-height: 17px;
  font-size: 0.95em;
  margin: 0;
  widows: 3;
  orphans: 3;
}

#article-content li p {
  font-size: 1em;
}

#article-content p,
#peer-reviews p {
  margin-bottom: 5px;
}

blockquote {
  margin-top: 8px;
  margin-bottom: 8px;
  border-left: 1px solid var(--color-sub);
  margin-left: 0;
  padding-left: 3ch;
}

.author-response__body blockquote {
  font-style: italic;
  font-family:var(--font-sans);
}

dl,
dd,
dt {
  /* --pagedjs-baseline-snap: 18px; */
  font-size: 0.95em;
  line-height: 17px;
}

:is(p) :is(span, a, em, sup, sub) {
  line-height: 0;
}

/* remove the color and the decoration to the links */
a {
  color: inherit;
  /* color: var(--color-main); */
  text-decoration: none;
}

section a {
  color: var(--color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  break-after: avoid !important;
  break-inside: avoid;
  text-wrap: wrap;
  font-weight: 600;
}

/* Avoid orphaned headings at the end of pages */
h1 + *, h2 + *, h3 + * {
  break-before: avoid;
  page-break-before: avoid;
}

/* removes the margin-top if the page starts with a header */
.pagedjs_page_content article > section:first-child > section:first-child > h1:first-child,
.pagedjs_page_content article > section:first-child > section:first-child > section:first-child > h2:first-child,
.pagedjs_page_content article > section:first-child > section:first-child > section:first-child > section:first-child > h3:first-child {
  margin-top: 0 !important;
}

h1 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
  line-height: 28px;
  color: var(--color-main);
}

h1.title {
  color: var(--color-main);
}

h2 {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 6px;
  line-height: 24px;
}

h3 {
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--color-body);
}

h4 {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

h5 {
  font-size: 11px;
  margin-top: 6px;
  margin-bottom: 6px;
}

h1 + section > h2:first-child {
  margin-top: 4px;
}

h2 + section > h3:first-child {
  margin-top: 4px;
}

h3 + section > h4:first-child {
  margin-top: 4px;
}

#article-content > ol {
  list-style-position: oustide;
  padding: 0;
}

#article-content > ol li {
  margin-bottom: 1em;
}

#article-content ol ol {
  list-style-position: oustide;
  margin: 0;
  padding: 0 3ch;
}

#article-content li p {
  margin: 0;
  text-align: left;
}

ol.list-roman-lower {
  list-style-type: lower-roman;
}

ol.list-roman-upper {
  list-style-type: upper-roman;
}

ol.list-alpha-lower {
  list-style-type: lower-alpha;
}

ol.list-alpha-upper {
  list-style-type: upper-alpha;
}

code, pre {
  max-width: 530px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.statement, .boxed-text {
    margin-top: 20px;
    margin-bottom: 15px;
    border-left: 5px solid var(--color-elife-blue-light);
    padding-left: 20px;
}