body {
  font-family: var(--font-serif);
  font-size: 12px;
  line-height: 17px;
}

#article-content :is(p, li) {
  --pagedjs-baseline-snap: 17px;
  line-height: 17px;
  font-size: 0.95em;
  margin: 0;
  widows: 3;
  orphans: 3;
}

#article-content li p {
  font-size: 1em;
}

#article-content p {
  margin-bottom: 17px;
}

blockquote {
  margin-top: 17px;
  margin-bottom: 17px;
}

dl,
dd,
dt {
  /* --pagedjs-baseline-snap: 18px; */
  font-size: 0.95em;
  line-height: 17px;
}

:is(p) :is(span, a, em, sup, sub) {
  line-height: 0;
}

/* remove the color and the decoration to the links */
a {
  color: inherit;
  /* color: var(--color-main); */
  text-decoration: none;
}

section a {
  color: var(--color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  break-after: avoid;
  text-wrap: wrap;
  font-weight: 600;
}

h1 {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 6px;
  line-height: 28px;
  color: var(--color-main);
}

h1.title {
  margin-top: 8px;
  color: var(--color-main);
}

h1 + h1 {
  /* margin-top: 0; */
}

h2 {
  font-size: 16px;
  margin-bottom: 12px;
  margin-top: 17px;
  line-height: 24px;
}

h3 {
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 14px;
  font-family: var(--font-serif);
  color: var(--color-body);
}

h4 {
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 10px;
}

h5 {
  font-size: 11px;
  margin-top: 15px;
  margin-bottom: 8px;
}

h1 + h2 {
  margin-top: 12px;
}
p + h2 {
  margin-top: 17px;
}

h2 {
  margin-bottom: 0;
}
#article-content > ol {
  list-style-position: oustide;
  padding: 0;
}
#article-content > ol li {
  margin-bottom: 1em;
}
#article-content ol ol {
  list-style-position: oustide;
  margin: 0;
  padding: 0 3ch;
}

#article-content li p {
  margin: 0;
  text-align: left;
}
