figure {
  padding: 0;
  margin: 0;
  --offset: 200px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0;
}

figcaption {
  font-family: var(--font-sans);
  font-size: 10px;
  line-height: 1.2;
}

/* when list in caption */
figcaption ul {
  padding-left: 2ch;
}

.tofill figcaption :is(h2, h3, h4) {
  column-span: all;
}

figcaption p {
  margin: 5px 0;
}

.fig-group {
    margin-top: 30px;
    margin-bottom: 20px;
}

.fig-group:has(img:only-of-type) {
    break-inside: avoid;
}

.abstract .fig-group {
  margin-top: 10px;
}

.statement .fig-group {
    margin-top: 0;
    margin-bottom: 0;
}

#peer-reviews .fig-group img {
  min-height: 200px;
  display: block;
  margin: 0 auto;
}

/*hide this one day*/
.colBlock,
.tabbed-navigation,
nav {
  display: none;
}

.setBottom .pagedjs_page_content {
  /* background: lightgrey; */
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; */
  flex: 2 1;
}

.pagedjs_pagedjs-filler_page .shortcaption figcaption {
  column-count: 1;
  /* max-width: 80ch; */
}
.pagedjs_pagedjs-filler_page .shortercaption figcaption {
  column-count: 1;
  /* max-width: 80ch; */
}

.tofill {
  position: fill-page;
}

figcaption h3 {
  margin: 5px 0;
}

figure .figure-name,
label {
  font-size: 1em;
  color: var(--color-main);
  font-family: var(--font-sans);
  margin-right: 0.25ch;
  font-size: 11px;
  font-weight: 600;
}
figure figcaption h3 {
  font-size: 11px;
  font-weight: 600;
}

img {
  object-fit: contain;
  margin-top: 15px;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
}

p > img {
  margin-top: 17px;
  margin-bottom: 12px;
}
.tofill,
.tofill img {
  margin-top: 0 !important;
  margin-left: auto;
  margin-right: auto;
}

.tofill figure + figure img {
  margin-top: 17px;
  display: block;
}

.has-boundary {
  border: 1px solid var(--color-elife-grey);
  padding: 5px;
  margin: 10px;
}

/*testing padding-bottom*/
.pagedjs_pagedjs-filler_page figure + figure {
  padding-top: 3em;
}

/* bigtables */
img {
  max-height: calc(
    var(--pagedjs-height) - var(--pagedjs-margin-top) -
      var(--pagedjs-margin-bottom)
  );
}

.internalfig {
  margin-bottom: 17px;
}

.internalfig img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.finishes {
  /* margin: auto; */
  display: flex !important;
  /* height: 100%; */
  /* align-items: center; */
  justify-content: center;
  flex-direction: column-reverse;
}

.pagedjs_pagedjs-filler_page .pagedjs_page_content {
  /*to add when pagedjs is finised*/
  /* display: grid; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  /* gap: 2em; */
}

.pagedjs_pagedjs-filler_page figure {
  /* border: 1px solid var(--color-main); */
  /* padding: 2em; */
}
figcaption h3 {
  column-span: all;
}

figure figcaption {
  /* columns: 3; */
  gap: 0 5mm;
  line-height: 15px;
  /* max-width: 90%; */
}

.no-label {
  padding: 0.5em 2ch;
  margin-top: 34px;
  margin-bottom: 34px;
}

.no-label img {
  /* max-width: unset !important; */
  display: block;
  margin: auto;

  /* width: 100%; */
}

.ctn {
  font-size: 10px;
  font-family: var(--font-sans);
  font-weight: 300;
}

.continued {
  /* text-align: center; */
  padding-top: 17px;
}

.imageonly {
  /* background: red; */
  break-before: avoid;
  margin: 0;
  /* text-align: center; */
}

:not(li) .imageonly {
  text-align: center;
}

.imageonly img {
  margin: 0;
}

.sendtolink {
  /* margin-bottom: 0 !important; */
  font-family: var(--font-sans);
  /* font-size: .8em; */
  font-style: italic;
  position: relative;
  /* display: none; */
}

.sendtolink::before {
  content: "*";
  position: absolute;
  left: -1.5ch;
  color: var(--color-main);
}

.sendtolink :is(span, strong, .figure-name) {
  font-size: 1em;
  font-weight: 400;
}

.sendtolink .figure-name {
  margin-right: 1ch;
}

figure h3 {
  break-after: normal;
}

figcaption img {
  height: 1.5em;
  width:auto;
  width: unset !important; 
  max-width: unset !important;
  display: inline;
}

.insidetext {
  display: inline !important;
}

/*image in figure but too small for their own page.*/
/* < 150px */

figure:not(.tofill) {
  display: block;
  margin: 2em 1ch;
}

figure:not(.tofill) img {
  margin-top: 0;
}

figure:not(.tofill) figcaption {
  column-count: 1;
}

.figure-container figure {
  break-inside: avoid;
}

/*weird thing: a missing images*/

.figure:not(.tofill)  {
  max-width: 100% !important;
  max-height: unset;
  width: auto !important;
}

.tofill img {
  max-height: 800px;
}

/*for tables*/

.tofill[id*="tbl"] img {
  /* width: 80%; */
}

/* we use classes to automatically reduce image size based on what we found to have that image management*/
.tofill .max-90 {
  max-width: 90%;
}
.tofill .max-80 {
  max-width: 80%;
}
.tofill .max-70 {
  max-width: 70%;
}
.tofill .max-60 {
  max-width: 60%;
}
.tofill .max-50 {
  max-width: 50%;
}
.tofill .max-40 {
  max-width: 40%;
}
.tofill .max-30 {
  max-width: 30%;
}
.tofill .max-20 {
  max-width: 20%;
}
.tofill .max-10 {
  max-width: 10%;
}

li .imageonly  {
  max-width: unset !important;
  margin: 0;
}

/*
 * ----------------------------------------
 * (╯°□°)╯ 彡┻━┻ /
 * * * * * I M A G E S   O F   M A T H S
 * ----------------------------------------
 */

:root {
  --math-unit: 16px;
}

/* display formulae */

img.disp-formula {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 3rem;
    max-height: 90% !important;
}

img.disp-formula.formula-max-10 {height: calc(var(--math-unit) * 1.3);}
img.disp-formula.formula-max-20 {height: calc(var(--math-unit) 1.6);}
img.disp-formula.formula-max-40 {height: calc(var(--math-unit) * 2);}
img.disp-formula.formula-max-60 {height: calc(var(--math-unit) * 2);}
img.disp-formula.formula-max-80 {height: calc(var(--math-unit) * 2);}
img.disp-formula.formula-max-100 {height: calc(var(--math-unit) * 3);}
img.disp-formula.formula-max-120 {height: calc(var(--math-unit) * 3.3);}
img.disp-formula.formula-max-140 {height: calc(var(--math-unit) * 4.5);}
img.disp-formula.formula-max-160 {height: calc(var(--math-unit) * 5);}
img.disp-formula.formula-max-180 {height: calc(var(--math-unit) * 5.5);}
img.disp-formula.formula-max-200 {height: calc(var(--math-unit) * 6);}
img.disp-formula.formula-max-220 {height: calc(var(--math-unit) * 6.5);}
img.disp-formula.formula-max-240 {height: calc(var(--math-unit) * 7);}
img.disp-formula.formula-max-260 {height: calc(var(--math-unit) * 7.5);}
img.disp-formula.formula-max-280 {height: calc(var(--math-unit) * 8);}
img.disp-formula.formula-max-300 {height: calc(var(--math-unit) * 8.5);}
img.disp-formula.formula-max-320 {height: calc(var(--math-unit) * 9);}
img.disp-formula.formula-max-340 {height: calc(var(--math-unit) * 9.5);}
img.disp-formula.formula-max-360 {height: calc(var(--math-unit) * 10);}
img.disp-formula.formula-max-380 {height: calc(var(--math-unit) * 10.5);}
img.disp-formula.formula-max-400 {height: calc(var(--math-unit) * 11);}

/* inline-formulae */

img.inline-formula {
  margin: 2px;
  height: 1.25rem;
  width: auto;
  display: inline !important;
  max-height: 90% !important;
}

img.inline-formula.formula-max-10 {height: calc(var(--math-unit) * 1);}
img.inline-formula.formula-max-20 {height: calc(var(--math-unit) * 1);}
img.inline-formula.formula-max-40 {height: calc(var(--math-unit) * 1);}
img.inline-formula.formula-max-60 {height: calc(var(--math-unit) * 1.5);}
img.inline-formula.formula-max-80 {height: calc(var(--math-unit) * 3);}
img.inline-formula.formula-max-100 {height: calc(var(--math-unit) * 3.5);}
img.inline-formula.formula-max-120 {height: calc(var(--math-unit) * 4);}
img.inline-formula.formula-max-140 {height: calc(var(--math-unit) * 4.5);}
img.inline-formula.formula-max-160 {height: calc(var(--math-unit) * 5);}
img.inline-formula.formula-max-180 {height: calc(var(--math-unit) * 5.5);}
img.inline-formula.formula-max-200 {height: calc(var(--math-unit) * 6);}
img.inline-formula.formula-max-220 {height: calc(var(--math-unit) * 6.5);}
img.inline-formula.formula-max-240 {height: calc(var(--math-unit) * 7);}
img.inline-formula.formula-max-260 {height: calc(var(--math-unit) * 7.5);}
img.inline-formula.formula-max-280 {height: calc(var(--math-unit) * 8);}
img.inline-formula.formula-max-300 {height: calc(var(--math-unit) * 8.5);}
img.inline-formula.formula-max-320 {height: calc(var(--math-unit) * 9);}
img.inline-formula.formula-max-340 {height: calc(var(--math-unit) * 9.5);}
img.inline-formula.formula-max-360 {height: calc(var(--math-unit) * 10);}
img.inline-formula.formula-max-380 {height: calc(var(--math-unit) * 10.5);}
img.inline-formula.formula-max-400 {height: calc(var(--math-unit) * 11);}

/*custom margins to reduce the max-width of all images*/
.pagedjs_pagedjs-filler_page {
  --pagedjs-margin-left: 30mm;
  --pagedjs-margin-right: 30mm;
}

.tofill img {
  display: block;
}

.page-grid .pagedjs_page_content {
  display: grid;
}

.has-continued img {
  margin-bottom: 0;
}

[data-continued-from] img {
  margin-bottom: 0;
}

p.movedfig img {
  max-height: 700px;
}

.widowfix,
.widowfix-fig {
  display: block !important;
  height: 0;
  margin: 0;
}
.widowfix-fig {
  display: block !important;
}

.review-content  {
  height: unset !important;
  width: unset !important;
}
