.article-flag-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  font-weight: 600;
}

.article-flag-list__item {
  margin: 0;
  padding: 0;
}

.article-flag-list__item::after {
  content: " | "; 
  color: var(--color-secondary);
}

.article-flag-list__item:last-child::after {
  content: none;
}

.article-flag__link {
  text-decoration: none;
}

#header {
  margin-left: var(--offset);
  max-width: 90%;
}

#header .title {
  font-size: 2.3em;
  line-height: 1.2;
  padding-top: 0;
}

.descriptors__icon a {
  padding-left: 3ch;
}

.descriptors__icon a::before {
  position: absolute;
  width: 2ch;
  margin-left: -3ch;
  margin-right: 2ch;
  height: auto;
  display: inline-block;
}

.descriptors__icon .hidden {
  display: none;
}

.pagedjs_first_page .article-flag-list {
  /*hide the MSAs on the first page*/
  display: none;
}

.header-icon.oa-icon::before {
    content: url('../assets/oa.svg');
    display: block;
    width: 20px;
    height: 20px;
}

.header-icon.cc-icon::before {
    content: url('../assets/cc.svg');
    display: block;
    width: 20px;
    height: 20px;
}

#sideSection {
  font-family: var(--font-sans);
  width: calc(var(--offset) - 5ch);
  position: absolute;
  left: calc(var(--offset) * -1);
  font-size: 0.9em;
}

#sideSection h2 {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: var(--color-main);
}

#sideSection p {
  hyphens: none;
}

#margin-notes {
  font-size: 0.8em;
}

#margin-notes h3 {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: var(--color-secondary);
  margin-bottom: 0.5em;
}

#margin-notes p {
  hyphens: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

#margin-notes p:has(.email-icon) {
  margin-bottom: 0;
}

#margin-notes .copyright {
  color: grey;
}

#margin-notes .email-icon::before {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-right: 0.2em;
  background-image: url("../assets/email.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.author-notes ul {
  margin-top: 0;

}

.author-notes li a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 8px;
}

.article-status__heading {
  margin-bottom: 0;
}

.article-status__link {
  margin-top: 0;
  display: block;
}

.modal-container,
.review-timeline__link {
  display: none;
}

#sideSection dd {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 17px;
}

#sideSection dt {
  font-weight: 800;
}
