.content-header__identifier {
  string-set: doi content(text);
}
.content-header__title {
  /* position: running; */
  string-set: articletitle content(text);
}

@media print {
  @page {
    size: letter;
    margin: 75px 50px 52px 50px;

   @top-left-corner {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      width: 10ch;
      top: 30px;
      height: 36px;
      position: relative;
      margin-left: 30px;
    }
  }

  .runninghead {
    font-family: var(--font-sans);
    color: var(--color-elife-grey);
    border-top: 1px solid var(--color-elife-grey);
    position: fixed;
    bottom: 0mm;
    line-height: 1;
    left: 50px;
    right: 50px;
    font-size: 12px;
    margin-top: 0;
    padding-top: 12px;
    display: flex;
    align-items: space-between;
  }

  .runninghead a {
    color: var(--color-elife-blue);
  }
  .runninghead .counter {
    margin-left: auto;
  }
  .runninghead .counter::after {
    content: counter(page) " of " counter(pages);
  }

  .article-flag-list {
    position: fixed;
    top: 32px;
    right: 50px;
    left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none; 
    padding: 0;
    margin: 0;    
    z-index: 1000;
    font-size: 10px;
  }
  .article-flag-list__item {
    margin-left: 0 !important;
    padding-right: 0 !important;
  }
  .article-flag-list__item:not(:last-child)::after {
    content: "|";
    display: inline-block;
    padding: 0 5px;
    margin: 0;
    color: var(--color-elife-grey);
  }
  .article-flag__link {
    color: var(--color-elife-blue); 
    text-decoration: none;
    white-space: nowrap;
    }
}

/* baseline  */

@media screen, pagedjs-ignore {
  .pagedjs_area {
    --pagedjs-baseline-offset-color: red;
    --pagedjs-baseline-color: transparent;
    --pagedjs-baseline-lineheight: 17px;
    --pagedjs-baseline-position: 13px;
    background: linear-gradient(
        transparent 0%,
        transparent calc(var(--pagedjs-baseline-lineheight) - 1px),
        var(--pagedjs-baseline-color)
          calc(var(--pagedjs-baseline-lineheight) - 1px),
        var(--pagedjs-baseline-color) var(--pagedjs-baseline-lineheight)
      ),
      transparent;

    background-size: 100% var(--pagedjs-baseline-lineheight);
    background-repeat: repeat-y;
    background-position-y: var(--pagedjs-baseline-position);
  }
}

article {
  --offset: 180px;
}

article > section {
  margin-left: var(--offset);
}

#logo {
  position: fixed;
  top: 30px;
  left: 50px;
  right: 50px;
  width:80px;
  font-family: var(--font-sans);
  font-style: italic;
  font-weight: 800;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 1px;
  display: flex;
}

#logo p {
  color: var(--color-main);
  margin: 0;
  position: relative;
  top: -0.35em;
  margin-left: 1ch;
}

#logo img {
  margin: 0;
  z-index: -1;
  width: 80px;
}



