@media print {
  @page {
    size: letter;
    margin: 75px 50px 52px 50px;

    @top-left {
      content: element(logo);
      text-align: left;
    }

    @top-right {
      content: "";
    }
  }

  @page :first {
    @top-right {
      content: element(right-header-links);
      text-align: right;
    }
  }

  #logo {
    position: running(logo);
    display: block;
    width: 106px;
    height: 40px;
    text-align: left;
    position: static;
    top: auto;
    left: auto;
  }

  #logo img {
    width: 100% !important;
    height: 100% !important;
    display: block;
  }

  #right-header-links {
    position: running(right-header-links);
    display: block;
    width: 100%;
    text-align: right;
    position: static;
    top: auto;
    right: auto;
  }

  #right-header-links>a,
  #right-header-links>span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
  }

  .runninghead {
    font-family: var(--font-sans);
    color: var(--color-elife-grey);
    border-top: 1px solid var(--color-elife-grey);
    position: fixed;
    bottom: 0mm;
    line-height: 1;
    left: 50px;
    right: 50px;
    font-size: 12px;
    margin-top: 0;
    padding-top: 12px;
    display: flex;
    align-items: space-between;
  }

  .runninghead a {
    color: var(--color-elife-blue);
  }

  .runninghead .counter {
    margin-left: auto;
  }

  .runninghead .counter::after {
    content: counter(page) " of " counter(pages);
  }

  .article-flag-list {
    position: fixed;
    top: 32px;
    right: 50px;
    left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    font-size: 10px;
  }

  .article-flag-list__item {
    margin-left: 0 !important;
    padding-right: 0 !important;
  }

  .article-flag-list__item:not(:last-child)::after {
    content: "|";
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    color: var(--color-elife-grey);
  }

  .article-flag__link {
    color: var(--color-elife-blue);
    text-decoration: none;
    white-space: nowrap;
  }
}

/* baseline  */

@media screen,
pagedjs-ignore {
  .pagedjs_area {
    --pagedjs-baseline-offset-color: red;
    --pagedjs-baseline-color: transparent;
    --pagedjs-baseline-lineheight: 17px;
    --pagedjs-baseline-position: 13px;
    background: linear-gradient(transparent 0%,
        transparent calc(var(--pagedjs-baseline-lineheight) - 1px),
        var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline-lineheight) - 1px),
        var(--pagedjs-baseline-color) var(--pagedjs-baseline-lineheight)),
      transparent;

    background-size: 100% var(--pagedjs-baseline-lineheight);
    background-repeat: repeat-y;
    background-position-y: var(--pagedjs-baseline-position);
  }
}

article {
  --offset: 180px;
}

article>section {
  margin-left: var(--offset);
}