/*references*/

.reference-section {
  /* margin-left: 5ch; */
}

.reference-list {
  list-style-type: none;
  font-family: var(--font-sans);
  padding: 0;
  margin-bottom: 17px;
  /* break-inside: avoid; */
}
.reference-list li {
  margin-bottom: 5px;
  hyphens: manual;
  word-break: normal;
}

.reference__label {
  color: var(--color-main);
  width: 3ch;
  margin-left: -5ch;
  position: absolute;
}

.reference__authors_list {
  display: inline;
  list-style: none;
  padding: 0;
}
.reference__authors_list:after {
  content: " ";
}
.reference__author {
  display: inline;
}
.reference__author:not(:first-child):before {
  content: ", ";
  display: inline;
  /* margin-left: -0.33ch; */
}
/* addd .reference span to make it more specific than [class*='reference__author']:not(:first-child) */
.reference__authors_list_suffix:before {
  content: "(";
}
.reference__authors_list_suffix:after {
  content: ") ";
}
.reference__title {
  font-weight: 600;
}
.reference__title:after {
  content: " ";
}
.reference__doi {
  margin-left: 1ch;
  /* display: block; */
}
.reference__doi_link {
  color: var(--color-elife-blue);
  font-weight: 500;
}
.reference__label::after {
  content: " ";
}

.reference_doi::before {
  content: " ";
}

.reference__doi a + a::before {
  content: " | ";
}


/* #article-content { */
/*   break-after: page; */
/* } */

.reference__editors_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
.reference__editors_list > li {
  display: inline;
}

.reference__editors_list > li:not(:last-child)::after {
  content: ", ";
}

