/*references*/

.reference-list {
  list-style-type: none;
  font-family: var(--font-sans);
  padding: 0;
  margin-bottom: 17px;
  /* break-inside: avoid; */
}

.reference-list li {
  margin-bottom: 5px;
  hyphens: manual;
  word-break: normal;
}

.reference__label {
  color: var(--color-main);
  width: 3ch;
  margin-left: -5ch;
  position: absolute;
}

.reference__authors_list {
  display: inline;
  list-style: none;
  padding: 0;
}

.reference__authors_list:after {
  content: " ";
}

.reference__author:first-child {
  font-weight: 600;
  color: var(--color-elife-grey);
}

.reference__author {
  display: inline;
}

.reference__author:not(:first-child):before {
  content: ", ";
}

.reference__authors_list_suffix:before {
  content: "(";
}

.reference__authors_list_suffix:after {
  content: ") ";
}

.reference__title:after {
  content: " ";
}

.reference__doi {
  word-wrap: break-word;
}

.reference__doi_link {
  color: var(--color-elife-blue);
  font-weight: 500;
}

.reference__label::after {
  content: " ";
}

.reference__doi::before {
  content: "\2002";
}

.reference__doi a + a::before {
  content: " | ";
  color: var(--color-elife-grey);
}

/* #article-content { */
/*   break-after: page; */
/* } */

.reference__editors_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

.reference__editors_list > li {
  display: inline;
}

.reference__editors_list > li:not(:last-child)::after {
  content: ", ";
}

