.table-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  font-size: .8em;
  margin: 0 auto;
  max-width: 100%;
}

table.wide {
  --offset: 200px;
}

tr {
  display: table-row;
  page-break-inside: avoid;
}

/* add a border to the top of split tables */
table[data-split-from] > *:first-child > tr:first-child > *:is(tr, td) {
  border-top: 1px solid var(--color-elife-grey);
}

th, td {
  border-bottom: 1px solid var(--color-elife-grey);
  padding: .375rem;
  min-width: 1px;
  box-sizing: border-box;
  page-break-inside: avoid;
}

td {
  text-align: left;
  vertical-align: top;
}

th {
  border-bottom-color: var(--color-elife-black);
  font-weight: 600;
  color: var(--color-elife-grey);
  text-align: center;
  vertical-align: bottom;
}

td.align-left,th.align-left {
  text-align: left;
}

td.align-center,th.align-center {
  text-align: center;
}

td.align-right,th.align-right {
  text-align: right;
}

td.valign-top,th.valign-top {
  vertical-align: top;
}

td.valign-middle,th.valign-middle {
  vertical-align: middle;
}

td.valign-bottom,th.valign-bottom {
  vertical-align: bottom;
}

.table__caption {
  caption-side: top;
  text-align: left;
  margin-bottom: 0.5em;
  page-break-inside: avoid;
  width: 100%;
  font-family: var(--font-sans);
  font-size: 10px;
  line-height: 1.2;
}

.table__caption h3 {
  font-size: 11px;
  font-weight: 600;
  margin: 5px 0;
}

.table__caption p {
  margin: 5px 0;
}

/* 
+===========================+
| Funding tables | 💰 | ┬─┬ |
+===========================+
*/

#funding-table,
table[data-id="funding-table"] {
  table-layout: fixed;
  width: 90%;
  margin-right: auto;
  margin: 10px 0;
}

#funding-table th,
#funding-table td,
table[data-id="funding-table"] td,
table[data-id="funding-table"] th {
  text-align: left;
  vertical-align: middle;
}

#funding-table th:first-child,
#funding-table td:first-child,
table[data-id="funding-table"] td:first-child,
table[data-id="funding-table"] th:first-child {
  width: 45%;
}

/* expand if there's only two columns */
#funding-table th:nth-last-child(2):first-child,
#funding-table td:nth-last-child(2):first-child,
table[data-id="funding-table"] th:nth-last-child(2):first-child,
table[data-id="funding-table"] td:nth-last-child(2):first-child {
  width: 65%;
}

#funding-table th:nth-child(2),
#funding-table td:nth-child(2),
table[data-id="funding-table"] td:nth-child(2)
table[data-id="funding-table"] th:nth-child(2) {
  width: 35%;
  word-break: break-word;
  overflow-wrap: break-word;
}

#funding-table th:nth-child(3),
#funding-table td:nth-child(3),
table[data-id="funding-table"] td:nth-child(3),
table[data-id="funding-table"] th:nth-child(3) {
  width: 20%
}

.funding-statement {
  color: var(--color-elife-grey);
}