# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Disable AppArmor
      run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
    - run: npm ci
    - name: Patch PagedJS CLI (Fix missing docker-userdata folder)
      run: mkdir -p node_modules/pagedjs-cli/docker-userdata
    - run: npm run build --if-present
    - run: npm test
  build-and-push:
    needs: [test]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      id-token: write
      attestations: write
      packages: write
    outputs:
      client_image_tag: main-${{ steps.commit_sha.outputs.commit_sha }}-${{ steps.date.outputs.date }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Get current date
      id: date
      run: echo "date=$(date --utc +%Y%m%d.%H%M)" >> $GITHUB_OUTPUT
    - name: Get sha with 8 chars long
      id: commit_sha
      run: echo "commit_sha=${GITHUB_SHA:0:8}" >> $GITHUB_OUTPUT
    - name: Build and push client image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
      id: build-push
      with:
        push: true
        load: false
        platforms: linux/amd64,linux/arm64
        tags: |
          ghcr.io/elifesciences/jats-to-pdf:latest
          ghcr.io/elifesciences/jats-to-pdf:${{ github.sha }}
          ghcr.io/elifesciences/jats-to-pdf:main-${{ steps.commit_sha.outputs.commit_sha }}-${{ steps.date.outputs.date }}
    - name: Generate artefact attestation
      uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
      with:
        subject-name: ghcr.io/elifesciences/jats-to-pdf
        subject-digest: ${{ steps.build-push.outputs.digest }}